<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <div class="login-container">
            <div class="login-box">
                <h2>Welcome to iBlog!</h2>
                <a href="/auth/google">
                    <button> Login with Google </button>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
