/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header .user-info {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 20px;
}

header .header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Styling for the login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-box button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.login-box button:hover {
    background-color: #357ae8;
}

.login-box .google-icon {
    margin-right: 10px;
    vertical-align: middle;
}


/* Styling for the registerUsername page */
.register-username-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjusts the height to center the form vertically */
    background-color: #f4f4f4;
}

.register-username-area {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.register-username-area form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-username-area label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.register-username-area input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.register-username-area button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.register-username-area button:hover {
    background-color: #0056b3;
}

.register-username-area p {
    color: red;
    margin-top: 10px;
}

/* form styles */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
}

/* styles for the Sort Posts (dropdown menu) */
.sort-posts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
}

.sort-posts label {
    margin-right: 10px;
    font-weight: bold;
}

.sort-posts select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
}

.sort-posts select:hover {
    background-color: #e6e6e6;
}

.sort-posts select:focus {
    outline: none;
    border-color: #999;
    background-color: #fff;
}

/* Main Content Styles */
.content-container {
    padding: 20px;
}

.post-form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-form h2 {
    margin-top: 0;
}

.form-group input#title {
    width: 60%;
}

/* buttons in form-actions (album, emoji, and post) styles */
.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    max-width: calc(100% - 160px);
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.left-buttons {
    display: flex;
    gap: 10px;
}

.right-button {
    margin-left: auto;
}

.form-actions button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.album-search {
    background-color: #555;
    color: white;
}

.emoji-button {
    background-color: lightgoldenrodyellow;
    color: white;
    font-size: 24px;
    line-height: 24px;
}

.post-button {
    background-color: #28a745;
    color: white;
}

/* album search result styles */
.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}

.album-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.album-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.album-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.album-item h3, .album-item p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

.album-item p {
    color: #666;
}

.new-post-form {
    display: flex;
    justify-content: space-between;
}

.form-left {
    flex: 2;
}

.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#content {
    height: 100px; /* Adjust height as needed */
}

.selected-album img {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

.selected-album h3, .selected-album p {
    margin: 5px 0 0 0;
    font-size: 14px;
    text-align: center;
}

.selected-album p {
    color: #666;
}

/* emoji panel styles */
.emoji-panel {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.emoji-panel input {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.emoji-grid {
    display: flex;
    flex-wrap: wrap;
}

.emoji-grid span {
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
}

/* Post Styles */
.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    word-wrap: break-word; 
    text-align: center; 
    margin-right: 20px;
}

.album-info img {
    width: 40%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
}

.album-info h3 {
    margin: 10px 0 0 0;
}

.posts-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.post:last-child {
    border-bottom: none;
}

.post-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.post-content {
    flex-grow: 1;

}

.post-header h3 {
    margin: 0 0 5px 0;
}

.post-header p {
    margin: 0;
    white-space: pre-wrap;
    line-height: 1.5;
}

.post-status-bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.post-author,
.post-timestamp,
.post-likes {
    font-size: 14px;
    color: #777;
    margin-right: 10px;
}

.post-likes {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.like-button,
.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #777;
    margin-left: 0;
    transition: color 0.5s ease;
}

.like-button.liked {
    color: red;
}

.like-button:hover, .delete-button:hover {
    color: darkgrey;
}

.delete-button i {
    font-size: 18px;
}

.post-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: calc(100% - 270px);
}

.post-header {
    margin-bottom: auto; 
}

/* Profile Page Styles */
.profile-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin: 20px;
}

.profile-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 5px 0 0 0;
    color: #777;
}

.user-posts {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.user-posts h2 {
    margin-top: 0;
}

.user-posts ul {
    list-style: none;
    padding: 0;
}

.user-posts li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.user-posts li:last-child {
    border-bottom: none;
}

/* Styling for the logout confirmation page */
.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
    text-align: center;
}

.logout-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.logout-container p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.logout-container .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.logout-container .login-button:hover {
    background-color: #0056b3;
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }
    
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header .user-info {
        margin-left: 0;
        margin-top: 10px;
        order: 1;
        width: 100%;
        text-align: right;
        justify-content: flex-end;
    }

    .post-form .form-group input,
    .post-form .form-group textarea {
        width: 100%;
    }

    .posts-list {
        padding: 10px;
    }

    .post {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-avatar img {
        margin-bottom: 10px;
    }

    .post-status-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-register {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .login-area,
    .register-area {
        width: 65%;
        margin: 10px 0;
    }

    #seperate-label {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .profile-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-avatar {
        margin-bottom: 20px;
    }

    .user-posts {
        padding: 10px;
    }
}